DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_NAME=CHANGE_ME

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/storepay
SPRING_DATASOURCE_USER=CHANGE_ME
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=CHANGE_ME
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=2592000000